@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-ring: var(--primary-ring);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-hover: var(--accent-hover);
  --color-accent-ring: var(--accent-ring);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-hover: var(--success-hover);
  --color-success-ring: var(--success-ring);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-ring: var(--destructive-ring);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-hover: var(--warning-hover);
  --color-warning-ring: var(--warning-ring);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-border-ring: var(--border-ring);

  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-link-ring: var(--link-ring);

  --color-font: var(--font);
  --color-font-foreground: var(--font-foreground);
  --color-font-muted: var(--font-muted);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-hover: var(--card-hover);
  --color-card-ring: var(--card-ring);

  --color-input: var(--input);
  --color-input-hover: var(--input-hover);
  --color-input-ring: var(--input-ring);

  --animate-page-transition: page-transition 1s ease-out;

  @keyframes page-transition {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: #0F172A;
  --foreground: #F8FAFC;

  --primary: #4F46E5;
  --primary-foreground: #F8FAFC;
  --primary-hover: #4338CA;
  --primary-ring: rgba(79, 70, 229, 0.2);

  --accent: #818CF8;
  --accent-foreground: #F8FAFC;
  --accent-hover: #6366F1;
  --accent-ring: rgba(129, 140, 248, 0.2);

  --success: #22C55E;
  --success-foreground: #F8FAFC;
  --success-hover: #16A34A;
  --success-ring: rgba(34, 197, 94, 0.2);

  --destructive: #EF4444;
  --destructive-foreground: #F8FAFC;
  --destructive-hover: #DC2626;
  --destructive-ring: rgba(239, 68, 68, 0.2);

  --warning: #ECB92C;
  --warning-foreground: #0F172A;
  --warning-hover: #CA8A04;
  --warning-ring: rgba(236, 185, 44, 0.2);

  --border: #94A3B8;
  --border-hover: #64748B;
  --border-ring: rgba(148, 163, 184, 0.2);

  --link: #60A5FA;
  --link-hover: #3B82F6;
  --link-ring: rgba(96, 165, 250, 0.2);

  --font: #F8FAFC;
  --font-foreground: #94A3B8;
  --font-muted: #64748B;

  --card: #0F172A;
  --card-foreground: #0B101E;
  --card-hover: #1E293B;
  --card-ring: rgba(15, 23, 42, 0.2);

  --input: #1E293B;
  --input-hover: #334155;
  --input-ring: rgba(30, 41, 59, 0.2);

  --color-success: #22C55E;
  --color-destructive: #EF4444;

  --pie-chart-destructive-1: #EF4444;
  --pie-chart-destructive-2: #FF6060;
  --pie-chart-destructive-3: #FF7B7B;
  --pie-chart-destructive-4: #FF9292;
  --pie-chart-destructive-5: #FFB0B0;
  --pie-chart-destructive-6: #FFC9C9;
}

.light {
  --background: #ffffff;
  --foreground: #0F172A;

  --primary: #4F46E5;
  --primary-foreground: #ffffff;
  --primary-hover: #4338CA;
  --primary-ring: rgba(79, 70, 229, 0.2);

  --accent: #6366F1;
  --accent-foreground: #ffffff;
  --accent-hover: #4F46E5;
  --accent-ring: rgba(99, 102, 241, 0.2);

  --success: #22C55E;
  --success-foreground: #ffffff;
  --success-hover: #16A34A;
  --success-ring: rgba(34, 197, 94, 0.2);

  --destructive: #EF4444;
  --destructive-foreground: #ffffff;
  --destructive-hover: #DC2626;
  --destructive-ring: rgba(239, 68, 68, 0.2);

  --warning: #FACC15;
  --warning-foreground: #0F172A;
  --warning-hover: #EAB308;
  --warning-ring: rgba(250, 204, 21, 0.2);

  --border: #E2E8F0;
  --border-hover: #CBD5E1;
  --border-ring: rgba(226, 232, 240, 0.2);

  --link: #3B82F6;
  --link-hover: #2563EB;
  --link-ring: rgba(59, 130, 246, 0.2);

  --font: #0F172A;
  --font-foreground: #334155;
  --font-muted: #64748B;

  --card: #F8FAFC;
  --card-foreground: #1E293B;
  --card-hover: #E2E8F0;
  --card-ring: rgba(226, 232, 240, 0.2);

  --input: #F1F5F9;
  --input-hover: #E2E8F0;
  --input-ring: rgba(203, 213, 225, 0.2);

  --color-success: #22C55E;
  --color-destructive: #EF4444;

  --pie-chart-destructive-1: #EF4444;
  --pie-chart-destructive-2: #FF6060;
  --pie-chart-destructive-3: #FF7B7B;
  --pie-chart-destructive-4: #FF9292;
  --pie-chart-destructive-5: #FFB0B0;
  --pie-chart-destructive-6: #FFC9C9;
}

.dark {
  --background: #0F172A;
  --foreground: #F8FAFC;

  --primary: #4F46E5;
  --primary-foreground: #F8FAFC;
  --primary-hover: #4338CA;
  --primary-ring: rgba(79, 70, 229, 0.2);

  --accent: #818CF8;
  --accent-foreground: #F8FAFC;
  --accent-hover: #6366F1;
  --accent-ring: rgba(129, 140, 248, 0.2);

  --success: #22C55E;
  --success-foreground: #F8FAFC;
  --success-hover: #16A34A;
  --success-ring: rgba(34, 197, 94, 0.2);

  --destructive: #EF4444;
  --destructive-foreground: #F8FAFC;
  --destructive-hover: #DC2626;
  --destructive-ring: rgba(239, 68, 68, 0.2);

  --warning: #ECB92C;
  --warning-foreground: #0F172A;
  --warning-hover: #CA8A04;
  --warning-ring: rgba(236, 185, 44, 0.2);

  --border: #94A3B8;
  --border-hover: #64748B;
  --border-ring: rgba(148, 163, 184, 0.2);

  --link: #60A5FA;
  --link-hover: #3B82F6;
  --link-ring: rgba(96, 165, 250, 0.2);

  --font: #F8FAFC;
  --font-foreground: #94A3B8;
  --font-muted: #64748B;

  --card: #0F172A;
  --card-foreground: #0B101E;
  --card-hover: #1E293B;
  --card-ring: rgba(15, 23, 42, 0.2);

  --input: #1E293B;
  --input-hover: #334155;
  --input-ring: rgba(30, 41, 59, 0.2);

  --color-success: #22C55E;
  --color-destructive: #EF4444;

  --pie-chart-destructive-1: #EF4444;
  --pie-chart-destructive-2: #FF6060;
  --pie-chart-destructive-3: #FF7B7B;
  --pie-chart-destructive-4: #FF9292;
  --pie-chart-destructive-5: #FFB0B0;
  --pie-chart-destructive-6: #FFC9C9;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-font;
  }
}